
<h1>Pokemon Forum </h1>

<% @categories.each do |category| %>
  <% @name = "category-#{category.id}"%>
  <div class="row">
    <div id="faq" class="col-md-9">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href='#<%= @name %>'><%= category.title %>
              </a>
            </h4>
          </div>
          <div id='<%= @name %>' class="panel-collapse collapse">
            <div class="panel-body"><%= render category.forum %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
